header
    .logo
        img(src="../img/logo.svg" alt="One Design System Logo")

    nav.primary
        ul
            li
                a(href="#") team

            li
                a(href="#") enterprise

            li
                a(href="#") explore
                .icon
                    img(src="../img/chevron-down.svg" alt="chevron down")
            li
                a(href="#") marketplace

            li
                a(href="#") pricing
    .search-container
        input(type="text" placeholder="Search")
        .icon
            img(src="../img/search.svg" alt="search")

    nav.secondary
        ul
            li
                .icon
                    .mailbox-icon
            li
                .icon
                    .leaderboard-icon
            li
                .icon
                    .web-icon
            li
                .profile
                    mb
                .number 2
            li
                .username esterhoward 
                .icon
                    img(src="../img/chevron-down.svg" alt="chevron down")

    button.primary-btn add code