.status-bar
    .time 9:41
    .battery
        .icon
            .battery-icon
        .percentage 100%
    .wifi
        .icon
            .wifi-icon
        .percentage 100%
    .network
        .icon
            .network-icon
        .percentage 100%