$base-font-family: "Inter", sanserif;

$clr-base-dark: #091833;
$clr-base-light: #FAFBFC;

$clr-dark-border-base: #1F3359;

$clr-menu-text: #cfd6e5;

$clr-muted-text: #979C9E;
$clr-meta-text: #979C9E;
