doctype html
html
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="This is a sample web page.")
        meta(name="keywords" content="sample, web page, Pug")
        meta(name="author" content="darrell parkhouse")
        title Inbox | One Design System
        link(rel="icon" href="../img/logo.svg" type="image/svg+xml")
        link(rel="stylesheet" href="../css/app.css")
    body
        .imbox-card
            .status-bar
                .time 9:41
                .icon
                    .signal-icon
                .icon 
                    .wifi-icon
                .icon 
                    .battery-icon
            .imbox-header
                .search-container
                    .input-bg
                        .icon
                            .search-icon

                        input(type="text" placeholder="Search")
                
                .provild
                    img(src="../img/inbox/profile-01.png")

            .imbox-body
                .title Inbox
                button.write-button Write

                .sub-title Unread - 2;
                ul
                    li
                        .profile
                            img(src="../img/inbox/profile-02.png")
                        .info
                            .name Josiah Zayner
                            .message-title Hi There!
                            p.message-excerpt Hi, I put together some photos from...
                        .meta
                            .time 9:41

                    li
                        .profile
                            img(src="../img/inbox/profile-02.png")
                        .info
                            .name Josiah Zayner
                            .message-title Hi There!
                            p.message-excerpt Hi, I put together some photos from...
                        .meta
                            .time 9:41
                
                .sub-title others

                ul
                    li
                        .profile
                            img(src="../img/inbox/profile-02.png")
                        .info
                            .name Josiah Zayner
                            .message-title Hi There!
                            p.message-excerpt Hi, I put together some photos from...
                        .meta
                            .time 9:41

                    li
                        .profile
                            img(src="../img/inbox/profile-02.png")
                        .info
                            .name Josiah Zayner
                            .message-title Hi There!
                            p.message-excerpt Hi, I put together some photos from...
                        .meta
                            .time 9:41

                    li
                        .profile
                            img(src="../img/inbox/profile-02.png")
                        .info
                            .name Josiah Zayner
                            .message-title Hi There!
                            p.message-excerpt Hi, I put together some photos from...
                        .meta
                            .time 9:41

                    li
                        .profile
                            img(src="../img/inbox/profile-02.png")
                        .info
                            .name Josiah Zayner
                            .message-title Hi There!
                            p.message-excerpt Hi, I put together some photos from...
                        .meta
                            .time 9:41

                    li
                        .profile
                            img(src="../img/inbox/profile-02.png")
                        .info
                            .name Josiah Zayner
                            .message-title Hi There!
                            p.message-excerpt Hi, I put together some photos from...
                        .meta
                            .time 9:41

                    li
                        .profile
                            img(src="../img/inbox/profile-02.png")
                        .info
                            .name Josiah Zayner
                            .message-title Hi There!
                            p.message-excerpt Hi, I put together some photos from...
                        .meta
                            .time 9:41

                    li
                        .profile
                            img(src="../img/inbox/profile-02.png")
                        .info
                            .name Josiah Zayner
                            .message-title Hi There!
                            p.message-excerpt Hi, I put together some photos from...
                        .meta
                            .time 9:41