doctype html
html
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="This is a sample web page.")
        meta(name="keywords" content="sample, web page, Pug")
        meta(name="author" content="darrell parkhouse")
        title Inbox | One Design System
        link(rel="icon" href="../img/logo.svg" type="image/svg+xml")
        link(rel="stylesheet" href="../css/app.css")
    body
        header.card-header
            .cart-title good morning
            .meta
                .date monday, January 25, 2021
            
            .icon
                .weather-icon

        .card-body
            ul.categories
                li.category
                    a(href="#").active world
                li.category
                    a(href="#") politics
                li.category
                    a(href="#") business
                li.category
                    a(href="#") tech
                li.category
                    a(href="#") science

            .news-container
                .featured-post
                    .image
                        img(src="../img/newsfeed/featured-post.png")
                    .info
                        .category world
                        .title The world's most beautiful racecourses
                        .meta
                            .date 2 days ago
                            .author by John Doe

                ul.latest-posts
                    li.post
                        .image
                            img(src="../img/newsfeed/post-01.png")
                        .info
                            .category world
                            .title The world's most beautiful racecourses
                            .meta
                                .date 2 days ago
                                .author by John Doe

                    li.post
                        .image
                            img(src="../img/newsfeed/post-02.png")
                        .info
                            .category world
                            .title The world's most beautiful racecourses
                            .meta
                                .date 2 days ago
                                .author by John Doe

                    li.post
                        .image
                            img(src="../img/newsfeed/post-03.png")
                        .info
                            .category world
                            .title The world's most beautiful racecourses
                            .meta
                                .date 2 days ago
                                .author by John Doe

                    li.post
                        .image
                            img(src="../img/newsfeed/post-04.png")
                        .info
                            .category world
                            .title The world's most beautiful racecourses
                            .meta
                                .date 2 days ago
                                .author by John Doe

                    li.post
                        .image
                            img(src="../img/newsfeed/post-05.png")
                        .info
                            .category world
                            .title The world's most beautiful racecourses
                            .meta
                                .date 2 days ago
                                .author by John Doe

                    li.post
                        .image
                            img(src="../img/newsfeed/post-06.png")
                        .info
                            .category world
                            .title The world's most beautiful racecourses
                            .meta
                                .date 2 days ago
                                .author by John Doe

                    li.post
                        .image
                            img(src="../img/newsfeed/post-07.png")
                        .info
                            .category world
                            .title The world's most beautiful racecourses
                            .meta
                                .date 2 days ago
                                .author by John Doe

                    li.post
                        .image
                            img(src="../img/newsfeed/post-08.png")
                        .info
                            .category world
                            .title The world's most beautiful racecourses
                            .meta
                                .date 2 days ago
                                .author by John Doe
        .tool-bar
            .icon
                .home-icon
            .icon
                .search-icon
            .icon
                .like-icon
            .icon
                .profile-icon