doctype html
head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="This is a sample web page.")
    meta(name="keywords" content="sample, web page, Pug")
    meta(name="author" content="darrell parkhouse")
    title Task Boards | One Design System
    link(rel="icon" href="../img/logo.svg" type="image/svg+xml")
    link(rel="stylesheet" href="../css/app.css")
    body
        .dark-card
            include partials/header.pug
            
                        

        
                        